@{
    ViewBag.Title = "Så här skickar du in registerfiler till Socialstyrelsen";
}
<div class="padding-top-55">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</div>
<p>Utförlig information om inlämning av registerfiler till Socialstyrelsen hittar du på  <a href="http://www.socialstyrelsen.se/register/foruppgiftslamnare"><strong>Socialstyrelsens webbplats</strong></a> .</p>

@*<input type="button" class="btn btn-default" value="Testa fileupload" onclick="location.href='@Url.Action("UploadFile", "Upload")'" />*@
<input type="button" class="btn btn-default" value="Testa fileupload blueimp" onclick="location.href='@Url.Action("Index", "FileUpload")'" />