@{
    ViewBag.Title = "Så här skickar du in registerfiler till Socialstyrelsen";
}
<div class="padding-top-55">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</div>

@Html.ActionLink("Hämta fil", "DownloadFile", "FileUpload")

@*<a href="@Url.Content("~/Logga.PNG")" target="_blank">Download File</a>

<a href="file:///\\\c:\Test29.xls" target="_blank">Återkopplingsfil</a>

<a href="file:///\\\c:\Test29.xls" download target="_blank">återkopplingstest</a>

<a href="C:\Test.txt">Link 1</a>*@



<p>Utförlig information om inlämning av registerfiler till Socialstyrelsen hittar du på  <a href="http://www.socialstyrelsen.se/register/foruppgiftslamnare"><strong>Socialstyrelsens webbplats</strong></a> .</p>

