@{
    ViewBag.Title = "Så här skickar du in registerfiler till Socialstyrelsen";
}
<br/><br/>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Utförlig information om inlämning av registerfiler till Socialstyrelsen hittar du på  <a href="http://www.socialstyrelsen.se/register/foruppgiftslamnare"><strong>Socialstyrelsens webbplats</strong></a> .</p>

<input type="button" class="btn btn-default" value="Test fileupload" onclick="location.href='@Url.Action("UploadFile", "Upload")'" />
