@{
    ViewBag.Title = "Kontakt";
}
<br/><br/>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support, epost:</strong> <a href="mailto:inrapportering@socialstyrelsen.se">inrapportering@socialstyrelsen.se</a><br />
    <strong>Support, telefonnummer:</strong> 075-247 37 37
</address>