@{
    ViewBag.Title = "Kontakt";
}
<br/><br/>
<h3>@ViewBag.Message</h3>

<address>
    Åsa Fransson<br />
    Registerenheten<br />
    <abbr title="Phone">Telefonnummer:</abbr>
    08 - 112 24 44
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.se</a><br />
    <strong>Marknad:</strong> <a href="mailto:Marknad@example.com">Marknad@example.se</a>
</address>