@using System.Configuration

@{
    if (ConfigurationManager.AppSettings["Env"] == "Utv")
    {
        Layout = "~/Views/Shared/_LayoutClosedUtv.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutClosed.cshtml";
    }
   
}


<div class="padding-top-55">
    @Html.Raw(ViewBag.Text)
</div>




