@model InrapporteringsPortal.Web.Models.RegisterPhoneNumberViewModel
@{
    ViewBag.Title = "E-postadress bekräftad";
}

@Html.Hidden(Model.Id)

<div class="row padding-top-55">
    <h4>@Html.Raw(ViewBag.Title)</h4>
</div>
<br />
<div>
    <p>
        Tack för att du bekräftat din e-postadress.<br />
        @Html.ActionLink("Klicka här för att registrera ett mobilnummer.", "AddPhoneNumber", "Account", routeValues: new { id = Model.Id }, htmlAttributes: null)


    </p>
</div>
