@{
    ViewBag.Title = "Bekräfta epostadress";
}


@Html.Raw(ViewBag.Text)
<div>
    <p>
        Tack för att du bekräftat din epostadress.
        @Html.ActionLink("Klicka här för att registrera ett mobilnummer.", "AddPhoneNumber", "Manage", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
