@{
    ViewBag.Title = "Bekräfta epostadress";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Tack för att du bekräftat din epostadress. @Html.ActionLink("Klicka här för att logga in.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
