@{
    ViewBag.Title = "Bekräftelsemeddelande har skickats";
}

<div class="row padding-top-55">
    <h4>@Html.Raw(ViewBag.Title)</h4>
</div>

<div>
    <p>
        Vänligen kontrollera din e-post och bekräfta din e-postadress.
    </p>
</div>
