@{
    ViewBag.Title = "Glömt Pinkod";
}

<hgroup class="title padding-top-55">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Var vänlig kontrollera din epost för att återställa ditt Pinkod.
    </p>
</div>
	
