@{
    ViewBag.Title = "Glömt PINkod";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Var vänlig kontrollera din epost för att återställa ditt PINkod.
    </p>
</div>
	
