@{
    ViewBag.Title = "Glömt pinkod";
}

<hgroup class="title padding-top-55">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Var vänlig kontrollera din e-post för att återställa ditt pinkod.
    </p>
</div>
	
