@{
    ViewBag.Title = "Bekräftelse av PINkodsbyte";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Ditt PINkod har uppdaterats. @Html.ActionLink("Klicka här för att logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
