@{
    ViewBag.Title = "Bekräftelse av Pinkodsbyte";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Ditt Pinkod har uppdaterats. @Html.ActionLink("Klicka här för att logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
